body {
  margin: 0 10vw;
}

.m-box-row {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100vw;
  justify-content: space-around;
  padding-bottom: 20px;
}

.bg-box {
  width: 65vw;
  height: 60vh;

  align-items: center;
}

.bg-box > img {
  width: 60vw;
  height: 50vh;
}

.top-line {
  display: flex;
  flex-direction: row;
}
.bottom-line {
  display: flex;
  flex-direction: row;
}

.m-box {
  width: 30vw;
  height: 30vh;
}
.m-box > img {
  width: 28vw;
  height: 20vh;
  object-fit: cover;
}

.sm-box {
  width: 13vw;
  height: 150px;
  border: solid gray;
}

.last-week {
  display: flex;
  flex-direction: row;
}

.sm-box-grid {
  display: grid;
  grid-template-columns: 15vw, 15vw;
  grid-template-rows: 10vh 10vh 10vh 10vh;
  grid-template-areas:
    "sm1 sm2"
    "sm3 sm4"
    "sm5 sm6"
    "sm7 sm8";
}

.left-side {
}
